//스타일가이드 - 변수
// 폰트
$font-title: '해피니스 산스 타이틀';
$font-regular: '해피니스 산스 레귤러';

//폰트컬러
$fontcolor-white: #fff;
$fontcolor-black: #121212;
$fontcolor-dark: #212121;
$fontcolor-lightgray: #999;
$fontcolor-gray: #767676;
$fontcolor-point: #f0002e;

//폰트사이즈
$fs-h1: 24px;
$fs-h2: 16px;
$fs-h3: 14px;
$fs-h4: 14px;
$fs-b1: 24px;
$fs-b2: 14px;
$fs-c1: 12px;
$fs-m1: 16px;
$fs-m2: 18px;
$fs-big: 42px;
$fs-small: 10px;

//배경컬러
$bg-basic: #121212;
$bg-dark: #212121;
$bg-light: #2c2c2c;
$bg-weak: #999;
$bg-white: #fff;
$bg-point: #f0002e;
$bg-footer: #222;
$bg-scroll-thumb: #777;
$bg-alert-gray: #e9e9e9;
$bg-verylight: #f6f6f6;
$bg-black: #000;
$hd-green: #1e9d8b;
$hd-lightgray: #e0ded8;
$hd-black: #1e1e1e;
$bg-orange: #ff8c00;
$hd-darkgray: #595959;

//하얀배경일때 - 배경컬러
$bg2-lightgray: #e9e9e9;

//라인컬러
$line-basic: #767676;
$line-weak: #2c2c2c;
$line-veryweak: #212121;
$line-point: #f0002e;
$line-white: #fff;
$line-black: #000;
$filter-line-color: #212121;
$filter-bar-color: #3c3c3c;

//하얀배경일때 - 라인컬러
$line2-lightgray: #e9e9e9;

// 시스템컬러
$warning: #ffc90b;
$error: #f6510a;

//font-weight
$fw1: 900; //폰트 굵기1
$fw2: 700;
$fw3: 600;
$fw4: 400;
$fw5: 200;

//margin, padding
$mg1: 100px; //너비1
$mg2: 80px;
$mg3: 60px;
$mg4: 40px;
$mg5: 20px;

//input
$input-width: 300px;
$input-height: 48px;
$lineinput-height: 32px;
$input-padding: 0 20px;
$input-radius: 10em;
$fs-input: 15px;

//button
$button-padding1: 0 20px;
$button-padding2: 0 12px;
$button-padding3: 0 8px;
$button-height1: 48px;
$button-height2: 32px;
$button-height3: 24px;
$button-radius: 5px;
$button-border-light: #767676;
$button-fs1: 15px;
$button-fs2: 13px;
$button-fs3: 12px;

// shadow
$shadow1: 0px -4px 6px 0px rgba(0, 0, 0, 0.25);
