@import './_variable.scss';
//공통클래스
article.main-article {
  margin-top: 35px;
}
.moreview {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 15px 20px 10px;

  a {
    display: block;
    font-size: $fs-b2;
    color: $fontcolor-gray;
    padding: 5px;

    &:hover {
      color: $fontcolor-white;
      font-weight: $fw2;
    }
  }
}
.popup-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.event-list-name {
  display: flex; // 요소를 가로로 나열
  align-items: center;
  column-gap: 8px;
  font-size: $fs-h1;
  font-weight: $fw2;
  margin-bottom: 10px;
  p {
    word-break: break-all;
    padding: 0;
    margin: 0;
  }
}

.event-name {
  font-size: $fs-h2;
  font-weight: $fw2;

  p {
    word-break: break-all;
  }
}
.event-branch {
  font-size: 18px;
  font-family: '해피니스 산스 볼드';
  color: #767676;
  opacity: 0.6;
  font-weight: $fw3;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 3px;

  img {
    display: block;
    width: 10px;
  }
}
.popup-date {
  font-size: $fs-h3;
  font-weight: $fw2;
  text-align: right;
  padding-top: 20px;
}

.key-text {
  color: $fontcolor-point;
}
.popupbanner-wrap {
  width: 100%;
  // margin: 40px auto 0;
  margin-top: 20px;

  &:last-child {
    margin: 20px auto 40px;
  }

  header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    // padding: 0 20px;
    box-sizing: border-box;

    .moreview {
      padding: 0;
    }
  }
}
// .bookmark-wrap {
//   position: relative;
//   display: block;
//   height: fit-content;
//   padding: 10px;
//   z-index: 10;
// }
.bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $bg-basic;
  opacity: 0.5;
  z-index: 99;
}
.submenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0 20px;
  padding-bottom: 10px;

  &.back {
    > a {
      position: relative;
      cursor: default;

      .arrow {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding: 10px;
      }
    }
  }

  > a {
    display: block;
    width: 30%;
    text-align: center;
    border-bottom: 1px solid $line-weak;
    padding: 10px 0;
    flex: 1 auto;

    &.on {
      color: $fontcolor-point;
      border-bottom: 2px solid $line-point;
      font-weight: $fw1;
    }

    h2 {
      font-size: $fs-h2;
      margin: 0;
      font-weight: $fw3;
    }
  }
}

ul,
li,
ol {
  list-style: none;
}

.slick-slide {
  transition: transform 0.3s ease-in-out;
}
.slide-content {
  width: 100%;
  height: auto;
  position: relative;

  .slide-img-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    cursor: pointer;

    &::after {
      background: url(./../img/common/background.png) 0 0;
      content: ' ';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-size: cover;
      left: 0;
      top: 0;
      opacity: 0.8;
      z-index: 1;
    }

    img {
      width: 100%;
      height: 480px;
      object-fit: cover;
    }
  }

  div {
    width: 100%;
    height: auto;
    position: absolute;
    left: 20px;
    bottom: 60px;
    z-index: 10;

    span,
    p {
      // display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1px;
      font-size: $fs-b2;
      font-weight: $fw4;
      font-family: '해피니스 산스 타이틀';
      color: white;
      text-shadow: 0px 0px 8px $hd-black;
      // padding-bottom: 5px;

      img {
        display: block;
        width: 10px;
        height: auto;
      }
    }

    span.slide-tit {
      width: 92%;
      font-size: 28px;
      font-weight: $fw2;
      word-break: keep-all;
    }

    span.slide-type {
      font-size: $fs-b2;
      font-weight: $fw4;
      font-family: '해피니스 산스 타이틀';
      color: white;
      text-shadow: 0px 0px 10px $hd-black;
      padding-left: 15px;
    }
  }
  p.slide-date {
    font-size: 20px;
  }

  p.slide-location {
    font-size: 17px;
  }
}

//메인 배너 도트 커스텀
.popup-banner-dots {
  width: 80%;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  li {
    width: 100%;
    height: 2px;
    background: $bg-white;
    opacity: 0.3;

    button {
      opacity: 0;

      &::before {
        display: none;
      }
    }
  }

  li.slick-active {
    opacity: 1;
  }
}

//main PopupBanner
.popupbanner-inner {
  width: 100%;
  height: fit-content;
  // padding-left: 20px;

  .slick-list {
    width: 100%;
    height: fit-content;
    margin: 0 auto;

    .slick-track {
      margin: 0;
    }

    .slick-slide {
      box-sizing: content-box;

      .popupbanner-list {
        width: fit-content !important;
        height: 100%;
        position: relative;
        cursor: pointer;
        display: inline-block;

        .bookmark-wrap {
          position: absolute;
          top: 0;
          right: 0;

          img {
            overflow-clip-margin: content-box;
            overflow: clip;
          }
        }

        img.popup-img {
          width: 280px;
          height: 260px;
          border-radius: 8px;
          display: block;
          top: 0;
        }

        .slide-img-wrap::after {
          background: url('./../img/common/background.png') 0 0;
          content: ' ';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          background-size: cover;
          left: 0;
          top: 0;
          opacity: 0.8;
          z-index: 1;
        }

        &-info {
          position: absolute;
          left: -25px;
          bottom: 20px;
          z-index: 10;
          color: white;

          li {
            list-style: none;
          }
        }
      }
    }
  }
}

//main calendar - DayCalendar_v2
.calendar-list {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 40px;
  padding-top: 20px;
  overflow: hidden;
  // padding-bottom: $mg4;
  border-top: 1px solid $hd-lightgray;

  ul {
    display: flex;
    flex-direction: row;
    column-gap: 2.5%;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        background: $hd-lightgray;
        cursor: pointer;

        span {
          font-size: 12px;
          display: none;
        }
        p {
          height: fit-content;
          font-size: $fs-h2;
          color: $fontcolor-gray;
        }

        .event-date {
          font-size: 5px;
          opacity: 0.6;
          font-weight: 600;
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 3px;
        }
      }

      div.calendar-list-box-select {
        width: 80px;
        height: 80px;
        background: $hd-green;

        span {
          display: block;
          font-weight: $fw3;
          color: $fontcolor-white;
        }

        p {
          font-size: $fs-h2;
          line-height: 1;
          font-weight: $fw3;
          color: $fontcolor-white;
        }
      }
    }
  }
}

.event-list {
  display: grid;
  grid-template-columns: 200px 200px; /* 두 개의 열로 설정 */
  gap: 20px; /* 열 간격 */
}
.calendar-popup-list {
  justify-content: center;
  margin-bottom: 72px;

  &.popuplist-board {
    padding-bottom: 100px;

    &.popup-search-list {
      padding-bottom: 0;
    }

    > ul {
      //grid-template-columns: repeat(4, 1fr);

      list-style: none;
      gap: 20px;
      padding: 0;
      margin: 0;

      //width: fit-content;

      > li {
        > div {
          width: 100%;
          .event-favorite {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .bookmark-icon {
              color: gray; // 북마크 아이콘 색상
              cursor: pointer; // 커서 포인터로 변경
              margin-left: auto; // 좌측 마진 자동 (우측 정렬)
            }
          }
        }

        // margin-top: 72px;
        // margin-bottom: 72px;
        // padding: 10px 0;
        // display: grid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid lightgray; // 테두리 설정
        padding: 20px; // 내부 패딩
        text-align: center; // 텍스트 가운데 정렬

        .pre-wrap {
          display: flex !important;
          justify-content: flex-end;
          grid-column-start: 2;
          grid-column-end: 5;
          column-gap: 8px;
          row-gap: 8px;
        }

        .pre {
          width: fit-content;
          height: fit-content;
          font-size: $fs-c1;
          color: $fontcolor-lightgray;
          background: $bg-light;
          border: 2px solid transparent;
          border-radius: 10em;
          padding: 6px 12px;
          justify-self: self-end;

          &.own {
            color: $fontcolor-white;
            border: 2px solid $line-point;
            background: transparent;
            font-weight: $fw2;
          }
        }
      }
    }
  }
  > ul {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;

    > li {
      //padding: 30px 0;
      border-bottom: 1px solid $line-weak;
      div {
        display: flex;
        // grid-template-columns: 0.7fr 1fr 0.2fr;
        // grid-template-rows: 1fr 0.1fr 0.3fr;
        //gap: 24px;
        padding: 12px 24px;

        .popup-bookmark {
          display: flex;
          justify-self: right;
        }

        .bookmark-wrap {
          display: flex;
          justify-content: flex-end;
          padding: 0 0 10px 10px;
        }

        .event-img {
          // border-radius: 8px;
          // border: 1px solid $hd-lightgray;
          // grid-row-start: 1;
          // grid-row-end: 3;
          // width: 160px;
          // height: 160px;
          object-fit: cover;
          width: 160px; // 이미지 너비 설정
          //max-width: 160px; // 최대 이미지 너비
          height: 160px;
          //height: auto; // 이미지 높이 자동
          border-radius: 8px; // 이미지 둥근 모서리
        }

        .event-details {
          width: 100%;
        }

        ul {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          row-gap: 16px;
          padding: 0px; //padding-left: 32px;
          li {
            width: fit-content;
            height: fit-content;
            word-break: keep-all;
            padding: 0;

            p {
              .event-date {
                height: fit-content;
                margin: 0;
              }
            }
          }
        }

        .pre-wrap {
          display: flex !important;
          // grid-column-start: 2;
          // grid-column-end: 5;
          justify-content: flex-end;
          column-gap: 8px;
        }

        .pre {
          font-size: $fs-c1;
          border: 2px solid transparent;
          background: $bg-dark;
          color: $fontcolor-white;
          width: fit-content;
          padding: 4px 10px;
          border-radius: 10em;
          // grid-column-start: 2;
          // grid-column-end: 5;
          // margin: 0 0 0 auto;

          &.own {
            color: $fontcolor-white;
            border: 2px solid $line-point;
            background: none;
            font-weight: $fw3;
          }
        }
      }
    }

    > li:last-child {
      border-bottom: none;
    }
  }
}

.calendar-popup-list-blank {
  height: 1100px;
}

//main AddBanner
.addbanner-inner {
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: $mg5;
  background: #eaeaea;
  padding: 20px;

  p {
    font-size: $fs-h1;
    color: $fontcolor-black;
    font-weight: $fw1;
    letter-spacing: -1px;
    padding-bottom: 5px;
  }

  span {
    font-size: $fs-b2;
    color: $fontcolor-black;
    font-weight: $fw3;
    letter-spacing: -1px;
  }
}

//main article - 배너 아래 메인페이지 내용
.article-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  overflow: hidden;
}

@media (min-width: 960px) {
  .calendar-popup-list > ul > li {
    width: 49%;
    border-bottom: 0;
  }
}

@media all and (min-width: 481px) {
  .inquiry-wrap {
    ul {
      li {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .text-form-inner {
    p {
      .report-date-wrap {
        column-gap: 20px;

        li {
          width: auto;
        }
      }
    }
  }

  .calendar-popup-list {
    > ul {
      > li {
        div {
          grid-template-columns: 0.3fr 1fr 0.2fr;
        }
      }
    }
  }

  .layer-edit-inner {
    form {
      div {
        div {
          button {
            padding: 0 12px;
          }
        }
      }
    }
  }
}

//미디어쿼리 태블릿 사이즈
@media all and (max-width: 780px) {
  .gradiant {
    &::after {
      background-size: cover;
    }
  }
}

// 행사 상세페이지
.StyledArticle {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .title {
    width: 100%;
    font-size: 40px;
    font-family: $font-title;

    .titlte {
      left: 0;
      position: absolute;
      top: 0;

      .text-wrapper {
        font-size: 30px;
        font-weight: 400;
        height: 123px;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        position: absolute;
        top: -4px;
        width: 928px;
      }
    }

    .favorite {
      font-size: 30px;
    }

    .image {
      height: 560px;
      margin-bottom: -24px;
      margin-top: -24px;
      width: 780px;
    }

    .count {
      font-size: 20px;
      height: 30px;
      position: relative;
      width: 170px;
      color: $hd-darkgray;
      margin-bottom: 13px;

      .view {
        align-items: center;
        display: inline-flex;
        gap: 7px;
        left: 0;
        position: absolute;
        top: 8px;
      }

      .text-wrapper-2 {
        font-size: 15px;
        font-weight: 200;
        letter-spacing: 0;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        width: fit-content;
      }

      .score {
        align-items: center;
        display: inline-flex;
        gap: 7px;
        left: 70px;
        position: absolute;
        top: 8px;
      }
    }
  }

  .detail {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 15px;

    .hashtag {
      margin-top: 15px;
      margin-bottom: 15px;
      align-items: center;
      align-self: stretch;
      display: flex;
      flex: 0 0 auto;
      flex-wrap: wrap;
      gap: 0 10px;
      position: relative;
      width: 100%;

      .item {
        align-items: center;
        border: 1px solid $hd-lightgray;
        border-radius: 20px;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        padding: 9px 13px;
        position: relative;

        .text-wrapper-3,
        .text-wrapper-4,
        .text-wrapper-5 {
          color: $hd-black;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: normal;
          line-height: normal;
          margin-top: -1px;
          position: relative;
          text-align: center;
          white-space: nowrap;
          width: fit-content;
        }
      }
    }

    .period-location {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 7px;
      padding: 1px 0;
      position: relative;

      .period {
        height: 38px;
        position: relative;
        width: 500px;

        .text-wrapper-6 {
          color: $hd-darkgray;
          font-size: 20px;
          font-weight: 700;
          height: 38px;
          left: 0;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
          top: 0;
        }

        .text-wrapper-7 {
          color: $hd-black;
          font-size: 18px;
          text-align: center;
          font-weight: 400;
          height: 30px;
          left: 77px;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
          top: 0;
        }
      }

      .location {
        height: 38px;
        position: relative;
        width: 1000px;

        .text-wrapper-6 {
          color: $hd-darkgray;
          font-size: 20px;
          font-weight: 700;
          height: 38px;
          left: 0;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
          top: 0;
        }

        .text-wrapper-8 {
          color: $hd-black;
          font-size: 18px;
          font-weight: 400;
          height: 38px;
          left: 77px;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
          top: 0;
        }
      }
    }

    .description {
      align-self: stretch;
      margin-right: -2px;
      position: relative;
      width: 100%;

      .p {
        color: $hd-darkgray;
        font-size: 25px;
        font-weight: 700;
        left: 0;
        letter-spacing: 0;
        line-height: normal;
        top: 0;

        // .span {
        //   color: $hd-black;
        //   font-size: 48px;
        //   font-weight: 700;
        //   letter-spacing: 0;
        // }

        // .text-wrapper-9 {
        //   font-size: 32.9px;
        // }
      }

      .frame {
        height: 500px;
        left: 0;
        position: absolute;
        border-radius: 1px solid $hd-lightgray;

        .text-wrapper-10 {
          color: $hd-black;
          font-size: 20px;
          font-weight: 400;
          left: 0;
          letter-spacing: 0;
          line-height: normal;
          position: absolute;
          top: -13px;
          width: 928px;
        }
      }
    }
  }
}

.StyledImage {
  display: flex;
  height: 560px;
  position: static;
  margin-bottom: 30px;
  .container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    padding: 24px;
    position: relative;
  }

  .rectangle {
    height: 560px;
    margin-bottom: -24px;
    margin-top: -24px;
    object-fit: cover;
    // position: relative;
    width: 800px;
    align-items: center;
  }
}

.StyledBox {
  height: 173px;
  position: relative;
  width: 782px;
  justify-content: center;
  .text-wrapper {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0.36px;
    line-height: 25.6px;
    position: absolute;
    top: 136px;
    white-space: nowrap;
  }

  .div {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  .text-wrapper-2 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }

  .text-wrapper-3 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
  }

  .text-wrapper-4 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 115px;
    white-space: nowrap;
  }

  .text-wrapper-5 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 154px;
    white-space: nowrap;
  }

  .text-wrapper-6 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 757px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  .text-wrapper-7 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }

  .text-wrapper-8 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
  }

  .text-wrapper-9 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 115px;
    white-space: nowrap;
  }

  .text-wrapper-10 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 154px;
    white-space: nowrap;
  }

  .line {
    height: 172px;
    left: 291px;
    position: absolute;
    top: 1px;
    width: 1px;
  }

  .overlap {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 39px;
    width: 367px;
  }

  .mask-group {
    height: 18px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 40px;
  }

  .overlap-group {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 1px;
    width: 367px;
  }

  .rectangle {
    background-color: $hd-green;
    border-radius: 3.64px 0px 0px 3.64px;
    height: 17px;
    left: -1px;
    position: relative;
    width: 281px;
  }

  .overlap-group-2 {
    height: 32px;
    left: 368px;
    position: absolute;
    top: 77px;
    width: 367px;
  }

  .rectangle-2 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 367px;
  }

  .mask-group-2 {
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }

  .rectangle-3 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 115px;
    width: 367px;
  }

  .rectangle-4 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 154px;
    width: 367px;
  }

  .stars {
    height: 40px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 256px;
  }

  .text-wrapper-11 {
    color: #000000;
    font-size: 46.6px;
    font-weight: 700;
    left: 92px;
    letter-spacing: 0;
    line-height: 51.2px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  }
}

.StyledBox {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .text-wrapper {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0.36px;
    line-height: 25.6px;
    position: absolute;
    top: 136px;
    white-space: nowrap;
  }

  .div {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  .text-wrapper-2 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }

  .text-wrapper-3 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
  }

  .text-wrapper-4 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 115px;
    white-space: nowrap;
  }

  .text-wrapper-5 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    left: 314px;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    top: 154px;
    white-space: nowrap;
  }

  .text-wrapper-6 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 757px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 0;
    white-space: nowrap;
  }

  .text-wrapper-7 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 39px;
    white-space: nowrap;
  }

  .text-wrapper-8 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 77px;
    white-space: nowrap;
  }

  .text-wrapper-9 {
    color: #000000;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 115px;
    white-space: nowrap;
  }

  .text-wrapper-10 {
    color: $hd-black;
    font-size: 11.6px;
    font-weight: 700;
    left: 763px;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    top: 154px;
    white-space: nowrap;
  }

  .line {
    height: 172px;
    left: 291px;
    position: absolute;
    top: 1px;
    width: 1px;
  }

  .overlap {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 39px;
    width: 367px;
  }

  .mask-group {
    height: 18px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 40px;
  }

  .overlap-group {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 1px;
    width: 367px;
  }

  .rectangle {
    background-color: $hd-green;
    border-radius: 3.64px 0px 0px 3.64px;
    height: 17px;
    left: -1px;
    position: relative;
    width: 281px;
  }

  .overlap-group-2 {
    height: 32px;
    left: 368px;
    position: absolute;
    top: 77px;
    width: 367px;
  }

  .rectangle-2 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 367px;
  }

  .mask-group-2 {
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }

  .rectangle-3 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 115px;
    width: 367px;
  }

  .rectangle-4 {
    background-color: #ffffff;
    border: 0.73px solid;
    border-color: #00000080;
    border-radius: 3.64px;
    height: 18px;
    left: 368px;
    position: absolute;
    top: 154px;
    width: 367px;
  }

  .stars {
    height: 40px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 256px;
  }

  .text-wrapper-11 {
    color: #000000;
    font-size: 46.6px;
    font-weight: 700;
    left: 92px;
    letter-spacing: 0;
    line-height: 51.2px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  }
}

.StyledReviewDetail {
  .container {
    height: 570px;
  }

  .div {
    align-items: center;
    left: 0;
    padding: 0 1.14e-13px 0 0;
    position: absolute;
    top: 0;
    width: 960px;
  }

  .paragraph {
    align-items: center;
    flex: 0 0 auto;
  }

  .element {
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .link-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 15px 0 10px;
    position: relative;
  }

  .link {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 5px;
    position: relative;
  }

  .text-wrapper {
    color: $hd-black;
    font-size: 13.1px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .horizontal-border {
    border-color: var(--popplycokrmine-shaft);
    border-top-style: solid;
    border-top-width: 1px;
    height: 453px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 960px;
  }

  .container-2 {
    height: 381px;
    position: relative;
    top: 37px;
  }

  .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 402px;
    position: absolute;
    top: 0;
  }

  .text-wrapper-2 {
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .img {
    height: 67px;
    left: 420px;
    position: absolute;
    top: 15px;
    width: 120px;
  }
}

.review {
  width: 100%;
  align-items: flex-start;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  // position: relative;

  .container {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin-right: -32px;
    padding: 16px 0px;
    position: relative;
  }

  .review-statistics {
    height: 172.55px;
    position: relative;
    width: 805.8px;
  }

  .text-wrapper {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    left: 40px;
    letter-spacing: 0.36px;
    line-height: 25.6px;
    position: absolute;
    top: 136px;
    white-space: nowrap;
  }

  .text-wrapper-2,
  .text-wrapper-3,
  .text-wrapper-4,
  .text-wrapper-5 {
    color: #000000;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 19.2px;
    position: absolute;
    white-space: nowrap;
  }

  .text-wrapper-2 {
    top: 39px;
  }
  .text-wrapper-3 {
    top: 77px;
  }
  .text-wrapper-4 {
    top: 115px;
  }
  .text-wrapper-5 {
    top: 154px;
  }

  .text-wrapper-6,
  .text-wrapper-7,
  .text-wrapper-8,
  .text-wrapper-9,
  .text-wrapper-10 {
    color: #000000;
    font-family: 'Happiness Sans-Bold', Helvetica;
    font-size: 11.6px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 18.6px;
    position: absolute;
    white-space: nowrap;
  }

  .text-wrapper-6 {
    left: 757px;
    top: 0;
  }
  .text-wrapper-7 {
    left: 763px;
    top: 39px;
  }
  .text-wrapper-8 {
    left: 763px;
    top: 77px;
  }
  .text-wrapper-9 {
    left: 763px;
    top: 115px;
  }
  .text-wrapper-10 {
    left: 763px;
    top: 154px;
  }

  .line {
    height: 172px;
    left: 291px;
    position: absolute;
    top: 1px;
    width: 1px;
  }

  .overlap-group,
  .overlap {
    background-color: #ffffff;
    border: 0.73px solid #00000080;
    border-radius: 3.64px;
    height: 18px;
    position: absolute;
    width: 367px;
  }

  .overlap-group {
    top: 39px;
    left: 368px;
  }
  .overlap {
    top: 1px;
    left: 368px;
  }

  .mask-group {
    height: 18px;
    position: absolute;
    width: 40px;
  }

  .mask-group {
    top: -1px;
    left: -1px;
  }

  .rectangle {
    background-color: #1e9d8b;
    border-radius: 3.64px 0px 0px 3.64px;
    height: 17px;
    position: relative;
    width: 281px;
  }

  .overlap-2 {
    height: 32px;
    left: 368px;
    position: absolute;
    top: 77px;
    width: 367px;
  }

  .rectangle-2,
  .rectangle-3,
  .rectangle-4 {
    background-color: #ffffff;
    border: 0.73px solid #00000080;
    border-radius: 3.64px;
    height: 18px;
    position: absolute;
    width: 367px;
  }

  .rectangle-2 {
    top: 0;
    left: 0;
  }
  .rectangle-3 {
    top: 115px;
    left: 368px;
  }
  .rectangle-4 {
    top: 154px;
    left: 368px;
  }

  .img {
    height: 18px;
    position: absolute;
    width: 367px;
  }

  .img {
    top: 14px;
    left: 0;
  }

  .mask-group-2 {
    height: 18px;
    position: absolute;
    width: 40px;
  }

  .mask-group-2 {
    top: 0;
    left: 0;
  }

  .stars {
    height: 40px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 256px;
  }

  .text-wrapper-11 {
    color: #000000;
    font-family: 'Pretendard-Bold', Helvetica;
    font-size: 46.6px;
    font-weight: 700;
    left: 92px;
    letter-spacing: 0;
    line-height: 51.2px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  }

  .review-detail {
    height: 177px;
    overflow: hidden;
    position: relative;
    width: 960px;
  }

  .container-2 {
    height: 570px;
    position: relative;
  }

  .container-3 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0px 1.14e-13px 0px 0px;
    position: absolute;
    top: 0;
    width: 960px;
  }

  .paragraph {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }

  .element {
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .link-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 15px 0px 10px;
    position: relative;
  }

  .link {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 5px;
    position: relative;
  }

  .text-wrapper-12 {
    color: var(--popplycokrboulder);
    font-family: 'Happiness Sans-Regular', Helvetica;
    font-size: 13.1px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }

  .horizontal-border {
    border-top-style: solid;
    border-top-width: 1px;
    height: 453px;
    left: 0;
    position: absolute;
    top: 58px;
    width: 960px;
  }

  .container-4 {
    height: 381px;
    position: relative;
    top: 37px;
  }

  .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 402px;
    position: absolute;
    top: 0;
  }

  .text-wrapper-13 {
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }

  .container-5 {
    height: 67px;
    left: 420px;
    position: absolute;
    top: 15px;
    width: 120px;
  }
}

.item {
  cursor: pointer; /* 기본 마우스 포인터 스타일 */
}

.item:hover {
  cursor: pointer; /* hover 상태에서 포인터 스타일 변경 */
}
